<table class="profile round" summary="Profile information">
  <tr>
    <td class="main round">
      <h1 class="infa">
         <%= link_to image_tag("avatars/avatar.png"), user_path %>
		 <span>
			<%= @user.name %>
		 </span>
      </h1>

	  <% unless @user.sites.empty? %>
		<table class = "sites" summary = "User Sites">
			<%= render @sites %>
		</table>
		<%= will_paginate @sites %>
	   <% end %>
    </td>
    <td class="sidebar round">
      <strong>Никнейм: </strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %><br />
	  <strong>Сайтов: </strong> <%= @user.sites.count %><br>
	  <%= link_to 'Показать все картинки', pictures_path,:class=>"button cent1" %>
	  <br/>
	  <% if current_user?(@user) %>
		  <div id = "help">
			<%= render 'pictures/index_pictures' %>
		  </div>
			<%= render 'shared/picture_form' %>
			<%=image_tag("img/icon2.png", :class => "icon2")%>
			<%= link_to "Обновить", pictures_path, :remote => true,:class=>"refresh_button" %>
	  <% end %>
    </td>
  </tr>
</table>